.buttonStyleMiddle {
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    position: absolute;
    background: #141c4d;
    color: antiquewhite;
    font-size: 1.3rem;
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.buttonStyleBottom {
    bottom:" 2%";
    color: antiquewhite;
    background: #141c4d;
    font-size: 1.3rem;
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}